<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title></title>
 </head>
 <body>
  <h1>Display your Pirate here</h1>
  <p><%="#{params[pirate][:name]}"%></p>
  <p> <%="#{params[pirate][:height]}"%></p>
  <p><%="#{params[pirate][:weight]}"%></p>
  <h2>Display your first ship here</h2>
  <p><%="#{params[pirate][ships][][:name]}"%></p>
  <p> <%="#{params[pirate][ships][][:type]}"%></p>
  <p><%="#{params[pirate][ships][][:booty]}"%></p>
  <h2>Display your second ship here</h2>
  <p><%="#{params[pirate][ships][][:name]}"%></p>
  <p> <%="#{params[pirate][ships][][:type]}"%></p>
  <p><%="#{params[pirate][ships][][:booty]}"%></p>
 </body>
</html>